@import 'normalize.css';

@font-face {
    font-family: 'Didot Regular';
    /*  src: url('webfont.eot');  IE9 Compat Modes */
    src: url('../fonts/DidotRegular.ttf') format('truetype'), /* Safari, Android, iOS */
}


body {
    font-size: 16px;
    --gold: #e5d28d;
    box-sizing: border-box;
    /*
    margin: 10px;
    padding: 20px;
*/
    max-width: 1920px;
    color: #060606;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    margin: 10px;
    padding: 20px;
}

p  {
    font-size: 0.65em;
    letter-spacing: 2px;
    line-height: 18px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #060606;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 0.75em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

blockquote {
    font-size: 0.65em;
    letter-spacing: 2px;
    line-height: 18px;
    font-style: italic;
    text-transform: uppercase;
}

header {
    display: flex;
    flex-wrap: wrap;
}

.section__header h1 {
    position: absolute;
    left: -1000%;
}

.nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav__menu {
    margin: 0;
    padding: 0;
}

.menu__item {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 0.49em;
    text-align: center;
    padding: 3px;
}

nav {
    flex: 1;
    padding-top: 100px;
    padding-bottom: 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2em;
    line-height: 14px;
}

.section__header {
    display: block;
    padding-bottom: 150px;
    position: relative;
}

.section__header h2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    flex: 1;
    display: inline-block;
    border-bottom: 1px solid var(--gold);
    padding-bottom: 8px;
}

.brand span {
    font-family: 'Playfair Display', serif;
}

.brand__header {
    display: block;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 12px;
    margin-top: 0;
}

.brand__header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.5px;
    bottom: 0;
    margin-bottom: 0;
    border-bottom: 1px solid var(--gold);
}

.brand__text {
    text-transform: uppercase;
    display: block;
    font-size: 0.4em;
    margin-top: 0;
    padding-top: 0px;
    margin-top: 0;
    text-align: center;
    letter-spacing: 4px;
}

/*  CAROUSEL  */

.carousel {
    position: relative;
    flex: 5;
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 75vh;
    margin-left: 30px;
}

.carousel__buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 200;
}

.prev,
.next {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    position: relative;
    cursor: pointer;
}

.next {
    transform: rotate(180deg);
}

.prev-btn,
.next-btn {
    height: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
}

.siema {
    max-width: 100%;
}


.carousel__image {
    width: 100%;
    height: auto;
}


.carousel__dots {
    position: absolute;
    z-index: 200;
    left: 25px;
    bottom: 20px;
}

.dot {
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, .25);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    margin-right: 10px;
    transition: all 1s;
}

.dot-active {
    background-color: rgba(0, 0, 0, 0.7);
}


/************** ABOUT section  *************/

.about {
    display: flex;
    margin-top: 150px;
}

.about__leftSide {
    flex: 1;
    display: flex;
    align-items: flex-start;
}


.about__rightSide {
    flex: 5;
    display: flex;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
}

.rightSide__col1 {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.rightSide__col1 p {
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rightSide__col1-para1,
.rightSide__col1-para2 {
    margin-bottom: 100px;
}

.rightSide__col1-para3 {
    border: 1px solid #060606;
    padding: 20px 50px;
}

.rightSide__col2 {
    flex: 2;
}

.violin-img {
    max-height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
}

/************** TEACHING section  *************/

.teaching {
    margin-top: 150px;
    padding-top: 150px;
    background: #fcfcfc;
}


.teaching-container {}

.teaching__top {
    max-width: 50%;
}

.teaching__top img {
    max-width: 60%;
    display: block;
    margin: auto auto;
}

.teaching__bottom {
    display: flex;
    position: relative;
    margin: 75px auto 150px auto;
}

.quote {
    display: inline-block;
    max-width: 32%;
    margin-left: auto;
    margin-right: auto;
}

.quote1 {
    flex: 1;
}

.quote2 {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid var(--gold);
    border-bottom: 1px solid var(--gold);
}

.quote2 blockquote {
    display: block;
}

/************** STUDIO section  *************/

.studio {
    display: flex;
}

.studio__left,
.studio__right {
    flex: 1;
    position: relative;
}

.studio__left {
    background: #ffffff;
}

.studio__right {
    background: #fafafa;
}

.studio__right h2 {
    padding-top: 150px;
}

.studio__left img {
    opacity: 0.5;
    display: block;
    max-width: 150px;
    margin: auto auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.studio__right-para p {
    max-width: 60%;
    display: block;
    margin: 150px auto 100px auto;
}

.studio__right-para3 {
    border: 1px solid #060606;
    padding: 20px 50px;
}

/************** CONTACT section  *************/

.contact {
    margin-top: 150px;
}


.contact .section__header {
    display: flex;
    max-width: 50%;
}

.contact .section__header h2 {
    flex: 1;
    max-width: 50%;
    display: inline-block;
}

.contact__content {
    display: flex;
    justify-content: center;
    align-items: start;
}

.contact__left,
.contact__right {
    flex: 1;
    position: relative;
}

.contact__left,
.contact__right {
    display: block;
}

.contact__left-form {
    display: flex;
    justify-content: center;
}

.contact__right address {
    display: block;
    text-align: left;   
}

address a {
    font-size: 0.65em;
    letter-spacing: 2px;
    line-height: 20px;
    text-transform: uppercase;
}

label {
      padding-top: 0.85em;  
}

address, label {
    font-style: normal;
    line-height: 0.65em;
}


.antispam {
    display: none;
}

input, textarea {
    border-top: none;
    border-left: none;
    border-right: none;
}

.contact__left-form form {
    position: relative;
}

.btn-send {
    margin-top: 20px;
    display: block;

    text-align: right;
 
}

.btn-send a {
    border: 1px solid #252424;
    padding: 5px 10px;
}

footer {
    margin-top: 50px;
    text-align: center;
    line-height: 3em;
    font-size: 0.65em;
    text-decoration: none;
    color: #060606;
    color: #060606;
    font-family: 'Poppins', sans-serif;
}
}


@media only screen and (max-width: 860px) {
    nav {
        padding-top: 0;
    }
    
    .section__header {
    padding-bottom: 75px;
    }
    
    
    /*    ABOUT */
    .about {
        margin-top: 75px;
    }
    
    .about__rightSide {
        flex-direction: column;
    }
    
    .rightSide__col1-para1, .rightSide__col1-para2{
        margin-bottom: 50px;
    }
    
    .violin-img {
        padding-top: 100px;
    }
    
    
    /*    TEACHING */
    .teaching {
    margin-top: 75px;
    padding-top: 75px;
    background: #fcfcfc;
    }
    
    .teaching__bottom {
    display: flex;
    position: relative;
    margin: 75px auto 75px auto;
    }
    
    
    /*    CONTACT */
    
    .contact {
    margin-top: 75px;
}
}